/* AskMate Q&A website assignment 
    by StormCoders
*/


/* 
==========================================================================
Globals
==========================================================================
*/


html {
    min-height: 100%;
    margin: auto;
}


body {
    margin: 0;
    position: center;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    height: 100%;
    padding-top: 1rem; 
    background: fixed;
    background: -webkit-radial-gradient(circle, #e8e9eb 10%, #a2a5aa 10%); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(circle, #e8e9eb 10%, #a2a5aa 10%); /* Opera 11.6-12.0 */
    background: -moz-radial-gradient(circle, #e8e9eb 10%, #a2a5aa 10%); /* Firefox 3.6-15 */
    background: radial-gradient(circle, #e8e9eb 30%, #a2a5aa 100%); /* Standard syntax */
}

/* 
==========================================================================
Top menu
==========================================================================
*/

/* The navigation bar */
.menu-top {
    box-sizing: border-box;
    background-color: #61a2c8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 8px #888888;
    margin: 0;
}

.menu-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-top li {
    float: left;
}

/* Links inside the navbar */
.menu-top a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Menu links sweep-effect */
.menu-top a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.menu-top a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d9474a;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.menu-top a:hover, .menu-top a:focus, .menu-top a:active {
    color: white;
}
.menu-top li a:hover:before, .menu-top a:focus:before, .menu-top a:active:before {
    -webkit-transform: scaleY(1.09);
    transform: scaleY(1.09);
}

/* Codecool logo on the navbar */
.menu-top  img {
    float: right;
    display: block;
    padding-right: 1em;
    margin: auto;
    max-width: 100%;
    height: auto;
    
}


/* Dropdown menu */
.menu-top li a, .dropbtn {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-top li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #57a1c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* 
==========================================================================
Container
==========================================================================
*/

.container {
    display: block;
    border-radius: 3px;
    background-color: #fdfdfd;
    position: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 4em auto;
    width: 90%;
    box-shadow: 0px 2px 8px #888888;
}




/* 
==========================================================================
Question table
==========================================================================
*/

h3 {
    color: #d95254;
}

.q-table {
  margin: auto;
  max-width: 100%;
  min-width: 80%;
  border-collapse: collapse;
}
.q-table tbody tr:hover,
.q-table tbody tr:focus {
  background-color: #d7e5ec;
  color: #000000;
}
.q-table tbody tr:nth-child(1):hover,
.q-table tbody tr:nth-child(1):focus {
  background-color: #d7e5ec;
}
.q-table tbody tr:nth-child(even):hover,
.q-table tbody tr:nth-child(even):focus {
  background-color: #d7e5ec;
}
.q-table th {
  background-color: #b9ddee;
  color: #444444;
  font-size: 1.5em;
  padding-left: 15px;
  border-bottom: solid 1px #DDDDDD
}
.q-table tr {
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
  border-bottom: solid 1px #DDDDDD
}
.q-table tr td {
  padding-left: 16px;
  font-size: 1.5em;
}
.q-table tr:nth-child(1) {
  border-bottom: 1px solid #e6e6e6;
  color: #828282;
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}
.q-table tr:nth-child(1) a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  font-weight: 300;
}
.q-table tr:nth-child(1) a:hover {
  color: black;
}
.q-table .can-be-sorted {
  opacity: 0.4;
}
.q-table .can-be-sorted span {
  margin-right: -5px;
}
.q-table .sortationActive {
  color: black;
}
.q-table .pointer {
  cursor: pointer;
}

.q-table-footer {
  border-top: 1px solid #e6e6e6;
  background-color: rgba(63, 81, 181, 0.05);
  padding-top: 6px;
  padding-bottom: 6px;
}



/* 
==========================================================================
Answer table
==========================================================================
*/


.ans-table { 
  margin: auto;
  max-width: 80%;
  min-width: 70%;
  border-collapse: collapse;
}
.ans-table tbody tr:hover,
.ans-table tbody tr:focus {
  background-color: #d7e5ec;
  color: #000000;
}
.ans-table tbody tr:nth-child(1):hover,
.ans-table tbody tr:nth-child(1):focus {
  background-color: #d7e5ec;
}
.ans-table tbody tr:nth-child(even):hover,
.ans-table tbody tr:nth-child(even):focus {
  background-color: #d7e5ec;
}
.ans-table th {
  background-color: #dc6f71;
  color: #444444;
  font-size: 1.5em;
  padding-left: 15px;
  border-bottom: solid 1px #DDDDDD
}
.ans-table tr {
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
  border-bottom: solid 1px #DDDDDD
}
.ans-table tr td {
  padding-left: 16px;
  font-size: 1.2em;
}
.ans-table tr:nth-child(1) {
  border-bottom: 1px solid #e6e6e6;
  color: #828282;
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}
.ans-table tr:nth-child(1) a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  font-weight: 300;
}
.ans-table tr:nth-child(1) a:hover {
  color: black;
}
.ans-table .can-be-sorted {
  opacity: 0.4;
}
.ans-table .can-be-sorted span {
  margin-right: -5px;
}
.ans-table .sortationActive {
  color: black;
}
.ans-table .pointer {
  cursor: pointer;
}

.ans-table-footer {
  border-top: 1px solid #e6e6e6;
  background-color: rgba(63, 81, 181, 0.05);
  padding-top: 6px;
  padding-bottom: 6px;
}



/* 
==========================================================================
Buttons
==========================================================================
*/


.button {
    text-align: center;
}

.button {
    position: relative;
    background: currentColor;
    border: 1px solid currentColor;
    font-size: 1.1rem;
    color: #4f93ce;
    margin: 3rem 1rem;
    padding: 0.75rem 3rem;
    cursor: pointer;
    -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
    color: #fff;
    position: relative;
    z-index: 1;
}
.button::before {
    content: '';
    position: absolute;
    background: #071017;
    border: 50vh solid #1d4567;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
}
.button:hover {
    color: #337ab7;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before, .button:focus::before {
    -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}
.button:focus {
    outline: none;
}

.home-button {
    position: absolute;
    top: -40px;
    left: 10px; 
}


.new_ans-button {
    position: relative;
    bottom: -40px;
    right: -90em; 
}