/* Registration page CSS for AskMate project (part 3) assignment 
    by StormCoders
*/


/* 
==========================================================================
Globals
==========================================================================
*/

html {
    min-height: 100%;
    margin: auto;
}
body {
    margin: 0;
    margin-bottom: 1em;
    position: center;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    height: 100%;
    background: fixed;
    background: -webkit-radial-gradient(circle, #e8e9eb 10%, #a2a5aa 10%); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(circle, #e8e9eb 10%, #a2a5aa 10%); /* Opera 11.6-12.0 */
    background: -moz-radial-gradient(circle, #e8e9eb 10%, #a2a5aa 10%); /* Firefox 3.6-15 */
    background: radial-gradient(circle, #e8e9eb 30%, #a2a5aa 100%); /* Standard syntax */
}


/* 
==========================================================================
Top menu
==========================================================================
*/

/* The navigation bar */
.menu-top {
    box-sizing: border-box;
    background-color: #61a2c8;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 8px #888888;
    margin: 0;
}

/* Links inside the navbar */
.menu-top a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Codecool logo on the navbar */
.menu-top img {
    float: right;
    display: block;
    padding-right: 1em;
    margin: auto;
    max-width: 100%;
    height: auto;
    
}


/* Menu links sweep-effect */
.menu-top a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.menu-top a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d9474a;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.menu-top a:hover, .menu-top a:focus, .menu-top a:active {
    color: white;
}
.menu-top a:hover:before, .menu-top a:focus:before, .menu-top a:active:before {
    -webkit-transform: scaleY(1.09);
    transform: scaleY(1.09);
}


/* Dropdown menu */
.menu-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-top li {
    float: left;
}

.menu-top li a, .dropbtn {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-top li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #57a1c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* 
==========================================================================
Title
==========================================================================
*/

h1 {
    position: relative;
    text-align: left;
    margin-top: 0.5em;
    box-sizing: border-box;
    color: #d9474a;
    text-shadow: 0px 1px 1px #888888;
}

h2 {
    text-align: center;
    margin-top: 1em;
    box-sizing: border-box;
    color: #d9474a;
    text-shadow: 0px 1px 1px #888888;

}

/* 
==========================================================================
Container
==========================================================================
*/


.container {
    display: block;
    border-radius: 3px;
    background-color: #fdfdfd;
    position: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 8em auto;
    width: 50%;
    box-shadow: 0px 2px 8px #888888;
}

/* 
==========================================================================
Form elements
==========================================================================
*/

.form-group {
    padding-top: 2rem;
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
}

.form-group input {
    height: 0.1em;
}

.form-group .control-label {
    position: absolute;
    top: 0.5rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1.5rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
}
.form-group .bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
}
.form-group .bar::before {
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #d95254;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
}
.form-group input {
    display: block;
    background: none;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}

.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value {
    color: #333;
}
.form-group input:focus ~ .control-label,
.form-group input.has-value ~ .control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0;
}
.form-group input:focus {
    outline: none;
}
.form-group input:focus ~ .control-label {
    color: #337ab7;
}
.form-group input:focus ~ .bar::before {
    width: 100%;
    left: 0;
}



@media only screen and (max-width:768px) {
    
    .container {
        background-color: #fdfdfd;
        position: fixed;
        padding:0;
        margin:0;

        top:0;
        left:0;

        width: 100%;
        height: 100%;
}
    .form-group {
        width:100%;
        margin:0 auto;
    }
    .form-group label {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        font-weight:normal;
    }
    .form-group input, .form-group select, .form-group textarea {
        width: 100%;
    }
    .form-group input[type=submit], .form-group input[type=reset] {
        margin-right: 10px;
        padding: 5px;
    }
}

/* 
==========================================================================
Buttons
==========================================================================
*/


.button-container {
    text-align: center;
}

.button {
    position: relative;
    background: currentColor;
    border: 1px solid currentColor;
    font-size: 1.1rem;
    color: #5ba3ca;
    margin: 3rem 0;
    padding: 0.75rem 3rem;
    cursor: pointer;
    -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
    color: #fff;
    position: relative;
    z-index: 1;
}
.button::before {
    content: '';
    position: absolute;
    background: #071017;
    border: 50vh solid #1d4567;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
}
.button:hover {
    color: #337ab7;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before, .button:focus::before {
    -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}
.button:focus {
    outline: none;
}