<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" type="text/css"
            href="https://fonts.googleapis.com/css?family=Raleway">
        <title>AskMate v3.0</title>
    </head>
    <body>
        <div class="menu-top">
            <img id="codecool" href="www.codecool.hu" src="/static/img/codecool_logo.svg" alt="Codecool logo" style="width:300px;height:50px;">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/question/new">New question</a></li>
                <li><a href="/all-user">All user</a></li>
                <li><a href="/registration">New User</a></li>
            </ul>
        </div>
            <div class="title">
                <img id="stormcoders" href="/index" src="/static/img/stormcoders_logo_text_only.png" alt="StormCoders logo" style="width:30%;height:30%;">
                <h1>AskMate</h1>
                <h2>Question list</h2>
            </div>
    <div class="container">
        <table id="table" class="table">
            <tr>
                {% for item in table_headers %}
                    <th class="table-header">{{ item }}</th>
                {% endfor %}
            </tr>
            {% for row in view_questions %}
                <tr>
                    {% for question in row[:-1] %}
                        {% if question == row[6] %}
                            <td><a href="/user/{{row[7]}}">{{ question }}</a></td>
                        {% else %}
                        <td>{{ question }}</td>
                        {% endif %}
                    {% endfor %}
                    <td align="middle">
                        <a href="/question/{{ row[0] }}">
                        <img border="0" alt="View" src="/static/img/view.png" width="50" height="50">
                        </a>
                    </td>
                    <td align="middle">
                        <a href="/question/{{ row[0] }}/delete">
                            <img border="0" src="/static/img/bin.png" width="50" height="50">
                        </a>
                    </td>
                    <td align="middle">
                        <a href="/question/{{ row[0] }}/vote-up">
                            <img border="0" src="/static/img/vote_up.png" width="50" height="50">
                        </a>
                    </td>
                    <td align="middle">
                        <a href="/question/{{ row[0] }}/vote-down">
                            <img border="0" alt="View" src="/static/img/vote_down.png" width="50" height="50">
                        </a>
                    </td>
                </tr>        
            {% endfor %}
        </table>
    </div>
    </body>
</html>